<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Historias</title>
        <link th:replace="fragments/encabezado.html" />

    </head>
    <body>
        <nav th:replace="fragments/menu.html"></nav>


        <div class="container">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            
                            <div class="col-xs-6">


                                <a th:href="@{'/sedes/' + ${sedeId} + '/habitaciones/new'}" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Añadir</span></a>

                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID Habitacion</th>
                                <th>numero de habitacion</th>
                                <th>tipo habitacion</th>
                                <th>Acciones</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="habitacion : ${habitaciones}">
                                <td th:text="${habitacion.id}"></td>
                                <td th:text="${habitacion.numero}"></td>
                                <td th:text="${habitacion.tipoHabitacion}"></td>
                                <td>
                                    <a th:href="@{'/sedes/'+ ${sedeId}+'/habitaciones/' + ${habitacion.id}+ '/ocupacionAnual'}"class="btn btn-success btn-sm">Ver % de ocupacion</a>
                                    <a th:href="@{'/sedes/'+ ${sedeId}+'/habitaciones/' + ${habitacion.numero}+ '/edit'}"class="btn btn-warning btn-sm">Editar</a>
                                    <a th:href="@{'/sedes/'+ ${sedeId}+'/habitaciones/' + ${habitacion.numero}+ '/delete'}" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro de borrar el habitacion?')">Borrar</a>
                                </td>  
                            </tr>
                                                          
                        </tbody>
                    </table>
                    
                    
                </div>
            </div>        
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>